/* Global change of box-sizing behaviour
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*/

/* Macro element formatting */
body {
    margin: 0;
}
#main-container {
    margin: 0 auto;
    max-width: 64rem;
}
header::after {
    position: fixed;
}
#header-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
#page-titles {
    display: inline-block;
    padding: 1rem 0 1rem 1rem;
    align-self: end;
    justify-self: start;
}
#header-buttons {
    display: inline-block;
    padding: 1rem 1rem 1rem 0;
    align-self: end;
    justify-self: end;
}
#login-form {
    padding: 0.75rem 0.5rem;
    text-align: right;
}
main {
    min-height: 8rem;
    padding: 1rem;
}
#register-form {
    display: grid;
    grid-template-columns: max-content auto;
}
footer {
    padding: 1rem;
}

/* Tweaks */
#login-form > a {
    display: block;
    margin-top: 0.5rem;
}
p ~ p {
    margin-top: 1rem;
}
#register-form > label ~ span {
    grid-column-start: 2;
}
/*#register-form > span ~ label {
    display: block;
    margin-top: 1rem;
}
#register-form > label > span:last-child {
    display: block;
}
#register-form-about-you {
    display: inline-block;
    vertical-align: top;
}
#register-form-dating-preference {
    display: inline-block;
}
#register-form-submit {
    margin-top: 1rem;
}*/

/* User agent stylesheet overrides */
h1, h2, p {
    margin-top: 0;
    margin-bottom: 0;
}