/* Global change of box-sizing behaviour
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*/

/* Macro element formatting */
body {
    margin: 0;
}
#main-container {
    margin: 0 auto;
    max-width: 64rem;
}
header::after {
    position: fixed;
}
#header-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
#page-titles {
    display: inline-block;
    padding: 1rem 0 1rem 1rem;
    align-self: end;
    justify-self: start;
}
#page-title {
    display: inline-block;
    padding: 1rem 0 1rem 1rem;
    align-self: end;
    justify-self: start;
}
#header-buttons {
    display: inline-block;
    padding: 1rem 1rem 1rem 0;
    align-self: end;
    justify-self: end;
}
#log-in-form {
    padding: 0.75rem 0.5rem;
    text-align: right;
}
main {
    min-height: 8rem;
}
#feed-container {
    padding: 1rem;
}
#person-page-container {
    padding: 1rem;
}
#reg-form {
    display: grid;
    grid-template-columns: max-content auto;
    max-width: 24rem;
    padding: 1rem;
}

/* Tweaks */
#header-buttons > a {
    display: inline-block;
    padding: 0.25rem;
}
#log-in-form > a, #log-in-form > span {
    display: inline-block;
    margin-top: 0.5rem;
}
p ~ p {
    margin-top: 1rem;
}
#reg-form > label {
    margin-right: 1rem;
}
#reg-form > span ~ label, #reg-form > input, #reg-form > #reg-form-gender, #reg-form > #reg-form-about-you, #reg-form > #reg-form-annual-salary, #reg-form > #reg-form-dating-preference {
    margin-top: 1rem;
}
#reg-form > #reg-form-name {
    margin-top: 0;
}
#reg-form > #reg-form-about-you {
    resize: vertical;
}
#reg-form > input ~ span {
    grid-column-start: 2;
    font-size: 0.875rem;
}

/* Classes */
.container-padding {
    display: inline-block;
    padding: 1rem;
}
.male-ppc {
    background-color: #a5d0eb;
}
.female-ppc {
    background-color: #eba3be;
}
.other-ppc {
    background-color: white;
}

/* User agent stylesheet overrides */
h1, h2, p {
    margin-top: 0;
    margin-bottom: 0;
}
input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid #444444;
}
textarea {
    border: 1px solid #444444;
}