body {
    background-color: gray;
    font-family: sans-serif;
}
header {
    background-color: lightcoral;
}
#header-buttons > a {
    color: #367beb;
}
#log-in-form {
    background-color: #444444;
    color: white;
}
#log-in-form > span {
    color: red;
    font-style: italic;
}
#log-in-form > a {
    color: cornflowerblue;
}
main {
    background-color: white;
}
#reg-form > input ~ span {
    color: red;
    font-style: italic;
}
footer {
    background-color: lightcoral;
}
footer > span {
    font-style: italic;
}